swiper-container{
    width: 80%;
    height: 80%;
}

swiper-slide{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cool-title{
    color: rgb(2, 2, 42);
}

.custom-bg-color{
    background-color: rgb(29, 49, 49);
}

.sp-bg-color{
    --background-color: rgb(112, 88, 15);
}

.style-avatar {
    --border-radius:0px;
}