<ion-content>

  <swiper-container>
    <swiper-slide>
      <h2>titulo del Slide</h2>
      <img src="https://cdn.forbes.com.mx/2017/05/piratas-caribe-ok-640x360.jpg" alt="">
      <p>Hola soy un parrafo del slide</p>
    </swiper-slide>


    <swiper-slide>
      <h2>titulo del Slide 2</h2>
      <img src="https://statics.uniradiosonora.com/2023/09/crop/64f7cdbd2bc0c__940x492.webp" alt="">
      <p>Hola soy un parrafo del slide 2</p>
    </swiper-slide>


    <swiper-slide>
      <h2>titulo del Slide 3</h2>
      <ion-icon name="bowling-ball-outline"></ion-icon>
      <p>Hola soy un parrafo del slide 3</p>


    </swiper-slide>
  </swiper-container>

</ion-content>
